html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}

#map {
	height: 100%;
}
#content {
	font-family: futura;
	color: darkblue;
}

#attr {
	font-style: oblique;
	color: gray;
}

#val {
	color: darkblue;
}